{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}{{ title }}{% endblock %}

{% block body %}
    <ul>
        {% for collection in collections %}
            <li>{{ collection.name }} | {{ collection.description }}</li>
        {% endfor %}
    </ul>

{% endblock %}
