{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h3 class="font-weight-normal text-center">{{ title }}</h3>
{% endblock %}

{% block body %}

    <ul>
        <li>
            {{ item.name }} |
            <a href="{{ path('user_item_edit', {'id': item.id}) }}">Edit</a>
        </li>
    </ul>

{% endblock %}