{% extends 'base.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block title_body %}
    <h3 class="font-weight-normal text-center">{{ title }}</h3>
{% endblock %}

{% block body %}

    <ul>
        <li>List of Items
        </li>
    </ul>

{% endblock %}